/* vars */

$main: #e42d27;
$geometria: "Geometria";
$geometriaBold: "Geometria-Bold";
$geometriaHeavy: "Geometria-Heavy";
$geometriaMedium: "Geometria-Medium";
$geometriaExtraBold: "Geometria-ExtraBold";
$whiteColor: #fff;

@font-face {
  font-family: "Geometria-Bold";
  src: url(../fonts/Geometria-Bold.ttf);
}
@font-face {
  font-family: "Geometria-Heavy";
  src: url(../fonts/Geometria-Heavy.ttf);
}
@font-face {
  font-family: "Geometria-ExtraBold";
  src: url(../fonts/Geometria-ExtraBold.ttf);
}
@font-face {
  font-family: "Geometria";
  src: url(../fonts/Geometria.ttf);
}

@font-face {
  font-family: "Geometria-Medium";
  src: url(../fonts/Geometria-Medium.ttf);
}

body {
  background-image: url(../imgs/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Geometria";
  color: $whiteColor;
}

.mainHeading {
  font-family: $geometriaHeavy;
  color: $whiteColor;
  margin-bottom: 16px;
  font-size: 48px;
  @media (max-width: 575px) {
    font-size: 32px;
  }
  @media (max-width: 375px) {
    font-size: 28px;
  }
}
.divider {
  margin-bottom: 24px;
}
.main-p {
  font-family: $geometriaBold;
  font-size: 28px;
  margin-bottom: 21px;
  @media (max-width: 767px) {
    font-size: 22px;
  }
  @media (max-width: 575px) {
    font-size: 17px;
  }
}

/* header */

.about {
  position: relative;
  background-image: url(../imgs/about-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  &::after {
    content: "";
    background-image: url(../imgs/bg1.png);
    background-position: right top;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0px;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  &::before {
    content: "";
    background-image: url(../imgs/bg-lines.png);
    display: block;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    bottom: 160px;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: contain;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .navbar {
    padding-right: 0;
    padding-left: 0;
    .navbar-nav {
      .nav-link {
        color: $whiteColor;
        font-family: $geometriaBold;
        margin-inline-end: 32px;
        transition: 0.3s;
        &:hover {
          color: $main;
        }
      }
      .nav-item.active {
        .nav-link {
          color: $main;
        }
      }
    }
    .switch-langs {
      .dropdown-toggle {
        color: $whiteColor;
        font-family: $geometriaMedium;
        text-decoration: none;
        &::after {
          border: none;
          background-image: url(../imgs/arrow-down.png);
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
        }
      }
      .dropdown-menu {
        right: 0;
        left: auto;
        @media (max-width: 991px) {
          right: auto;
          left: 0;
        }
      }
    }
    .navbar-toggler,
    .navbar-toggler:focus {
      border: none;
      outline: none;
    }
    #navbarSupportedContent {
      @media (max-width: 991px) {
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 8px;
      }
    }
  }

  /* intro*/
  .intro {
    margin-top: 40px;
    h1 {
      font-family: $geometriaHeavy;
      color: $whiteColor;
      margin-bottom: 4px;
      text-transform: capitalize;
      font-size: 48px;
      @media (max-width: 575px) {
        font-size: 32px;
      }
      @media (max-width: 375px) {
        font-size: 28px;
      }
    }
    p {
      margin-top: 12px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        font-size: 17px;
      }
      font : {
        family: $geometriaMedium;
        size: 18px;
      }
    }
    .telegram {
      img {
        margin-left: -8px;
        margin-bottom: 60px;
      }
    }
  }
}

/* definition*/
.definition {
  margin-bottom: 68px;
  h2 {
    font-family: $geometriaHeavy;
    font-size: 48px;
    @media (max-width: 575px) {
      font-size: 32px;
    }
    @media (max-width: 375px) {
      font-size: 28px;
    }
  }
  .divider {
    margin-bottom: 16px;
  }
  .def-content {
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
    img {
      margin-bottom: 24px;
    }
    h4 {
      font-size: 21px;
      font-family: $geometriaBold;
      margin-bottom: 16px;
    }
    p {
      color: #685f96;
      line-height: 26px;
      width: 95%;
      margin: auto;
    }
  }
}

/*  PREMIUM CHANNELS */

.premium-channels {
  margin-bottom: 50px;
  .main-p {
    font-family: $geometriaBold;
    font-size: 28px;
    margin-bottom: 21px;
    @media (max-width: 767px) {
      font-size: 22px;
    }
    @media (max-width: 575px) {
      font-size: 17px;
    }
  }
  .list {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/*exchanges*/

.exchanges {
  .our-companies {
    padding: 0 32px;
    position: relative;
    .owl-carousel,
    .owl-stage {
      position: static;
    }
  }
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 40px;
    display: block;
    width: 35px;
    height: 35px;
    background-color: $whiteColor !important;
    border-radius: 50%;
    border: none !important;
    text-align: center;
    line-height: 28px !important;
    outline: none !important;
    @media (max-width: 1200px) {
      top: 32px;
    }
    @media (max-width: 991px) {
      top: 15px;
    }
    @media (max-width: 767px) {
      top: 5px;
    }
    @media (max-width: 575px) {
      top: 20px;
    }
    @media (max-width: 425px) {
      top: 10px;
    }
    @media (max-width: 374px) {
      top: 30px;
    }
    span {
      color: #000;
      font-weight: bold;
      font-size: 28px;
    }
  }
  .owl-next {
    right: 0 !important;
  }
  .owl-prev {
    left: 0 !important;
  }
}

/*footer*/
footer {
  background-color: #d72623;
  background-image: url(../imgs/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 43px 0;
  .footer-content {
    @media (max-width: 991px) {
      flex-wrap: wrap;
      justify-content: center !important;
    }
    p {
      margin: 0;
      @media (max-width: 991px) {
        margin-bottom: 16px;
      }
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    .footer-links {
      a {
        color: $whiteColor;
        margin-inline-start: 40px;
        font-size: 16px;
        font-family: $geometriaBold;
        text-decoration: none;
        @media (max-width: 575px) {
          font-size: 14px;
          margin: 0;
          display: block;
        }
      }
      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }
}

/*providers page */
.providers {
  &::before {
    display: none;
  }
}
.provider-holder {
  background-color: #270a56;
  background-image: url(../imgs/providers-bg.png);
  background-size: 450px;
  background-position: center;
  padding: 16px 24px;
  border-radius: 24px;
  margin-bottom: 24px;
  img {
    margin-inline-end: 16px;
    width: 60px;
  }
  h5 {
    font: {
      size: 16px;
      family: $geometriaMedium;
    }
  }
}

/*packagesContent*/
.packagesContent {
  background-color: #270a56;
  border-radius: 16px;
  background-image: url(../imgs/packagesBg.png);
  background-size: 600px;
  background-position: center;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 24px;
  @media (max-width: 991px) {
    background-size: 800px;
  }
  span {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font : {
      size: 24px;
      family: $geometriaBold;
    }
  }
  h2 {
    text-align: center;
    font : {
      size: 55px;
      family: $geometriaHeavy;
    }
  }
  .separator {
    width: 100%;
    margin-bottom: 24px;
  }
  ul {
    margin: 0;
    li {
      img {
        margin-inline-end: 8px;
        display: inline-block;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .getStarted {
    display: block;
    margin-top: 16px;
    text-align: center;
    img {
      @media (max-width: 1200px) {
        width: 50% !important;
      }
      @media (max-width: 575px) {
        width: 60% !important;
      }
      @media (max-width: 425px) {
        width: 70% !important;
      }
    }
  }
}

/*home*/

.home {
  background-image: none;
  &::after {
    background-image: url(../imgs/home-bg.png) !important;
    background-size: cover;
    background-position: right center;
    width: 70%;
    height: 60%;
    @media (max-width: 991px) {
      width: 100%;
      height: 40%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .intro {
    width: 50%;
    margin-bottom: 60px;
    @media (max-width: 991px) {
      width: 100%;
    }
    h1 {
      font-size: 36px;
      span {
        color: $main;
      }
    }
    p {
      font-size: 14px;
    }
    .home-links {
      flex-wrap: wrap;
      img {
        margin: 0;
      }
    }
    a {
      width: 150px;
      img {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      h1 {
        font-size: 28px;
      }
    }
  }
}

/*best-crypto*/
.best-crypto {
  background-image: url(../imgs/best-bg.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding: 24px 0;
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 15px;
    strong {
      display: block;
      font-size: 28px;
      span {
        color: $main;
      }
    }
  }
}

/*reviews*/
.reviews {
  background-image: url(../imgs/about-bg.png);
  padding: 24px 0;
  background-repeat: no-repeat;
  .client-reviews {
    padding-bottom: 50px;
    .review-holder {
      background-color: #270a56;
      border-radius: 16px;
      padding: 16px;
      @media(max-width:991px){
        margin-bottom: 24px;
      }
      .client {
        margin-bottom: 17px;
        img {
          width: 50px;
          margin-inline-end: 7px;
        }
        .name {
          h5 {
            margin: 0;
            font-family: $geometriaBold;
          }
          span {
            color: #685f96;
            font-family: $geometriaMedium;
            font-size: 14px;
          }
        }
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
